SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=your-smtp-username
SMTP_PASSWORD=your-smtp-password
SMTP_FROM_EMAIL=alerts@yourdomain.com
SMTP_USE_TLS=true
AETHER_APP_HEALTH_CHECKER_URL=http://localhost:8015
